@import "tailwindcss";

@font-face {
  font-family: 'Roxborough CF';
  src: url('/src/assets/fonts/RoxboroughCF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
  font-family: 'Roxborough CF', serif;
}